body {
    background-color: #efefef;
}

section {
    width: 500px;
    margin: 60px auto;
    background: none;
}

.categories, .films {
    border: 1px #dddddd solid;
    margin: 15px 0;
    background-color: white;
}

.category {
    padding: 15px 15px;
    cursor: pointer;
    transition: background 1s;
}

.category:hover {
    background-color: rgba(221, 221, 230, 0.5);
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.film {
    margin: 20px 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border-bottom: 1px dotted #333;
}